
.main {
  padding-top: 100px;
  padding-left: 2rem;
  padding-right: 2rem;
}

#box1 {
  flex-grow: 1;
}

.box {
  color: white;

  flex-grow: 0;
  height: 200px;
  width: 800px;
  background-color: #865ce8;
  border: 2px solid black;
  border-radius: 10px;
  opacity: 0.9;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  cursor: pointer;
  box-shadow: 3px 3px 5px rgba(142, 97, 245, 0.5); 
  transition: all 0.2s ease-in-out; 
  transform: translateY(
    0
  ); 
}

.box:hover {
  background-color: #a281ed;
  transform: translateY(
    -2px
  ); 
  box-shadow: 5px 5px 7px rgba(142, 97, 245, 0.7); 
}

.box:active {
  transform: translateY(
    1px
  ); 
  box-shadow: 1px 1px 3px rgba(142, 97, 245, 0.5); 
}
