

.questions_type {
  flex: 1;
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 32px;
}


.question_type_item {
  text-decoration: none;
  color: white;
  border: 1px solid white;
  border-radius: 8px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  flex: 1;
  height: 300px;
  cursor: pointer;
  transition: all 0.3s ease-in-out;
}

.question_type_item:hover {
  background-color: blueviolet;
}

.question_type_item p:first-of-type {
  font-size: 48px;
  margin-bottom: 32px;
}
