main {
  justify-content: center;
  align-items: center;
}

.questions_type {
  flex: 1;
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 32px;
  width: 90%;
}

@media (max-width: 992px) {
  .questions_type {
    flex-direction: column;
  }
}

.question_type_item {
  padding: 32px;
  text-decoration: none;
  color: white;
  border: 1px solid white;
  border-radius: 8px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  flex: 1;
  cursor: pointer;
  transition: all 0.3s ease-in-out;
  width: 100%;
  height: 300px;
  background: #865ce8;
  transform: translateY(1px); /* Leggero spostamento verso il basso quando attivo */
  box-shadow: 1px 1px 3px rgba(142, 97, 245, 0.5); /* Ombra più sottile quando attivo */
}




.question_type_item:hover {
  background-color: blueviolet;
}

.question_type_item p:first-of-type {
  font-size: 48px;
  margin-bottom: 32px;
}

.select-questions-type {
  margin-top: 32px;
  margin-bottom: 32px;
}