.quiz-items-container {
  display: flex;
  flex-direction: column;
  margin: 36px auto;
  gap: 32px;
  width: 70%;
}

.isDisabled {
  color: currentColor;
  cursor: not-allowed;
  opacity: 0.5;
  text-decoration: none;
}

.isDisabled:hover{
  text-decoration: none;
}

/* .quiz-item {
    height: 150px;
    border-radius: 12px;
    border: 1px solid #000;
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: blueviolet;
    color: white;
    font-size: 32px;
    transition: all 0.3s ease-in-out;
    text-decoration: none;
}


.quiz-item:hover {
    background-color: blue;
    text-decoration: underline;
} */

