h1 {
  margin-top: 32px;
  text-align: center;
  width: 100%;
}

.quiz-items-container {
  display: flex;
  flex-direction: column;
  margin: 36px auto;
  gap: 32px;
  width: 70%;
}

@media (max-width: 768px) {
  .quiz-items-container {
    margin-top: 32px;
    display: flex;
    flex-direction: column;
    margin: 36px auto;
    gap: 16px;
    width: 100%;
  }
}

.isDisabled {
  color: currentColor;
  cursor: not-allowed;
  opacity: 0.5;
  text-decoration: none;
}

.isDisabled:hover {
  text-decoration: none;
}
