

  /* Main content */
  .main {
    padding-top: 100px;
    padding-left: 2rem;
    padding-right: 2rem;
    height: 1000px;
  }

  .scatole {
    min-height: 800px;
    /*border: 8px solid black; */
    display: flex;
    flex-direction: column;
    row-gap: 20px;
    justify-content: top;
    align-items: center;
    padding: 40px;
  }

  #box1{
    flex-grow: 1;
  }

  .box {
    color: white;
    text-shadow: 2px 2px 2px purple;
    flex-grow: 0;
    height: 200px;
    width: 800px;
    background-color: #865ce8;
    border: 2px solid black;
    border-radius: 10px;
    opacity: 0.9;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    cursor: pointer;
    box-shadow: 3px 3px 5px rgba(142, 97, 245, 0.5); /* Ombra iniziale con colore #8e61f5 */
    transition: all 0.2s ease-in-out; /* Transizione per tutti i cambiamenti */
    transform: translateY(0); /* Assicura che non ci siano trasformazioni iniziali */
  }
  
  .box:hover {
    background-color: #a281ed;
    transform: translateY(-2px); /* Leggero spostamento verso l'alto al passaggio del mouse */
    box-shadow: 5px 5px 7px rgba(142, 97, 245, 0.7); /* Ombra più accentuata all'hover */
  }
  
  .box:active {
    transform: translateY(1px); /* Leggero spostamento verso il basso quando attivo */
    box-shadow: 1px 1px 3px rgba(142, 97, 245, 0.5); /* Ombra più sottile quando attivo */
  }

  

  /************************* FOOTER *************************/
  .footer-sito {
  background-color: #252746;
  padding: 30px 15px;
  text-align: center;
  border-top: 1px solid grey;
  font-family: 'Montserrat', sans-serif;
  font-size: 14px;
  margin-top: 4rem;
}

.footer-container {
  max-width: 100%;
  margin: 0 auto;
}

.footer-links {
  display: flex;
  justify-content: center;
  gap: 2rem;
  margin-bottom: 1rem;
  flex-wrap: wrap;
}

.footer-links a {
  text-decoration: none;
  color: white;
  transition: color 0.2s;
}

.footer-links a:hover {
  color: #8e61f5;
}

.footer-copy {
  color: #888;
}